* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  .container {
    width: 1280px;
    margin: 0 auto;
}

body {
    font-family: sans-serif;
}
.header {
    display: flex;
justify-content: space-between;
    border-bottom: 2px solid #EBE8F4;
    padding: 28px 0;

}

.header_menu {
    display: flex;
    gap: 281px;
}

.header_menu_list {
    display: flex;
    align-items: center;
    gap: 44px;


}

.header_menu-link {
    text-decoration: none;
     font-size: 16px;
     line-height: 21.79px;
     text-align: left;
     color: #726E8D;
     
}


.header_logo {
    font-size: 24px;
    line-height: 29px;
    color: #22202E;
}

.header_icon {
    display: flex;
    align-items: center;
    gap: 16px;

}
.header_icon-search {
    width: 16px;
    height: 16px;
    background-image: url(/hw_5_home-design/images/Search.png);

}
.header_icon-shopping {
    width: 16px;
    height: 16px;
    background-image: url(/hw_5_home-design/images/Shopping--cart.png);

}
.header_icon-user {
    width: 16px;
    height: 16px;
    background-image: url(/hw_5_home-design/images/User--avatar.png);

}

.info_title {
top: 8px;
left: 24px;
gap: 12px;
font-size: 36px;
line-height: 50.4px;
text-align: center;
margin-top: 80px;
color:#2A254B;
;


}

.info_panel {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}

.info_panel-left {
    display: flex;
    gap: 70px;
    margin-left: 48px;
    color: #2A254B;

 }
    

 .info_panel-right {
    margin-right: 32px;
 }

 .info_panel-category,
 .info_panel-product,
 .info_panel-price,
 .info_panel-brand,
 .info_panel-date {
    border: none;
    cursor: pointer;

 }
 .info_panel-right label {
font-size: 14px;
line-height: 21px;
color: #2A254B;
margin-right: 13px;

 }

.content {
    margin-top: 48px;
    display: grid;
    grid-template-areas:
    "chair vases vase lamp"
    "chair vases vase lamp"
    "chair vases vase lamp";
    column-gap: 20px;
    row-gap: 50px;

    }


.content_title {
font-size: 20px;
font-weight: 400;
line-height: 28px;
text-align: left;
margin-top: 24px;

}


.content_text {
    margin-top: 8px;
}

a {
text-decoration: none;
color: #2A254B;

}

.button {
padding: 16px 32px;
color:#2A254B;
border: none;
margin: 0 auto;
display: block;
margin-top: 48px;
margin-bottom: 40px;
}

.info_block {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.info_block-image {
    background-image: url(/hw_5_home-design/images/Sofa.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
 }


.info_content-title {
font-size: 32px;
line-height: 39.01px;
color: #2A254B;
margin: 71px 0 0px 49px;
}

.info_content-text {
    line-height: 24px;
    color: #2A254B;
    margin: 21px 0 0 49px;
    text-align: left;
    width: 470px;
}

.button-2 {
font-size: 16px;
width: 120px;
line-height: 24px;
padding: 16px 32px;
margin: 216px 528px 70px 72px;
color: #FFFFFF;
border: none;
background-color: #2A254B;
}

.footer {
    background-color: #2A254B;

}

.footer_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid #4E4D93;
}
.footer_list-link {
font-size: 14px;
line-height: 19.07px;
text-align: left;

color:#FFFFFF;
}

.footer_list {
display: flex;
justify-content: space-between;
margin-top: 58px;    

}

.footer_image {
margin-top: 60px;
margin-bottom: 48px;
}


.footer_list-one,
.footer_list-two,
.footer_list-three {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer_list-menu,
.footer_list-categories,
.footer_list-our {
font-size: 16px;
line-height: 19.5px;
color: #FFFFFF;

}

.footer_list-three{
    margin-right: 93px;
}

.footer_bottom {
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
}

.footer_bottom-avion {
font-size: 14px;
line-height: 19px;
color: #FFFFFF;
margin: 24px 0 25px ;
}

 .footer_icon {
    display: flex;
    gap: 16px;


 }
 
 .footer_icon a {
    display: flex;
    width: 19px;
    height: 19px;
    margin: 22px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;


 }
.foter_icon-linkedin {
    background-image: url(/hw_5_home-design/images/linkedin.png);

}
 
.foter_icon-facebook {
background-image: url(/hw_5_home-design/images/facebook.png);
}

.foter_icon-instagram {
    background-image: url(/hw_5_home-design/images/insta.png);
}

.foter_icon-scype {
background-image: url(/hw_5_home-design/images/skype.png);
}

.foter_icon-twitter{
background-image: url(/hw_5_home-design/images/twitter.png);
}

.foter_icon-pinterest {
    background-image: url(/hw_5_home-design/images/pinterest.png);
}
