
* {
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container { 
	width: 1280px;
	margin: 0 auto;
}

body {
	font-family: sans-serif;

}

.header {
	margin-top: 53px;
}
.header_title {
    font-size: 80px;
    line-height: 93.75px;
    color: #000000;
}

.header-title_color {
    color: #4BCAFF;
 ;
}
 
a {
	text-decoration: none;
}


.header_menu_list {
font-size: 24px;
font-weight: 400;
line-height: 28.13px;
display: flex;
justify-content: center;
margin-top: 40px;
background-color: #35444F;
}

.header_menu-item {
	padding: 24px 32px 18px 32px;
    background: #35444F;
	gap: 38px 1px;
	border-left: 1px solid #FFFFFF;
	
}
 
.header_menu-item-right {
	padding: 24px 32px 18px 32px;
	border-right: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
}


.header_menu-link {
	color: #FFFFFF;
	
 }

.header_menu-item:hover {
	background-color: #222F3A;
	transition-duration: 0.5s;
}


.header_menu-item-right:hover {
	background-color: #222F3A;
	transition-duration: 0.5s;
}


li {
	list-style-type: none;
  }


.info_menu {
	display: flex;
}

.info_block {

	display: flex;
    justify-content: space-between;
	margin-top: 48px;
}

.info_menu {
    width: 344px;
	height: 400px;
    height: max-content;
    flex-direction: column;
	justify-content: space-between;
	display: flex;
    font-size: 27px;
    border: 2px solid #000000;
}
 .info_menu-list {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
    align-items: center;

}



.info_menu-link {
	color: #495863;
    width: 220px;
	height: 27px;
    font-size: 27px;
}

.info_menu-item:hover {
	background-color: #DBDBDB;
	transition-duration: 0.3s;
	padding-left: 80px;

}

.info_menu-item {
    padding: 28px 0 28px 44px;}


.info_content {
	width: 885px;
    height: 832px;
    top: 300px;
    left: 496px;
	display: flex;
	margin-bottom: 51px;

}

.info_content {
	display: flex;
	justify-content: space-between;
    flex-direction: column;
}

.info_goat {
	border: 1px solid #000000;
	padding: 74px 280px;
}

.info_goat-image {
	width: 320px;
	height: 381px;
	top: 75px;
	left: 297px;
	
}

.info_text {
	display: flex;
	flex-direction: column;
	gap: 13px;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
	color: #2C2C2C;
}

.info_text-first {
    margin-top: 37px;
}

.info_text-socond {
    margin-top: 13px;
}

footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 69px;
    color: #0C1927;
    background: #63696E7A;
}

.footer_menu {
	display: flex;
	justify-content: space-between;



}

.footer_menu-link {
	font-family: sans-serif;
	font-size: 28px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color:#0C1927;
}

.footer_menu-link:hover {
    color: #3181A6;
    border-bottom: 2px solid #3181A6;
    transition-duration: 0.3s;

}


.footer_menu-item {
padding: 20px 0 20px 40px;


}


.footer_low-link {
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
	color: #010101;




}
.footer_low {
	padding-right: 40px ;
}
