* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container {
    width: 1400px;
    width: 100%;

}
body {
    font-family: sans-serif;


    background-color: #EEEEEF;

}

.header {
    position: fixed;
    width: 100%;
    height: 110px;
    z-index: 1000;

}



.header_info {

    background-color: #10BBD5;
    display: flex;
    padding: 16px 52px;
    justify-content: space-between;
}

.header_info-left {
    padding: 6px 0;
}

.header_info-logo {
font-size: 24px;
font-weight: 700;
line-height: 29.16px;
text-align: left;
text-decoration: none;
color: #F8FDFE;
width: 106px;
height: 29px;
}
 
.header_info-image {
    width: 21.67px;
    height: 22.17px;
    
}

.header_info-right {
    display: flex;
    gap: 12px;
}



.header_info-text {
font-size: 16px;
line-height: 24px;
text-align: left;
color: #F8FDFE;
padding: 8px 0;
}

.header_basket {
background-image: url(/images/basket.png);
width: 33px;
height: 21px;
top: 3.33px;
left: 3.45px;
    color: #F8FDFE;
;
}

.header_info-icon {
    display: flex;
    flex-direction: column;

}

.header_wheel {
    display: flex;
justify-content: center;
padding: 3px 0;
gap: 5px;
margin-left: 7px;
}




.header_wheel-1 {
    background-image: url(/images/Vector\ \(1\).png);
    width: 8.33px;
    height: 8.33px;
    top: 28.33px;
    left: 10.95px;
color: #F8FDFE;

}

.header_wheel-2 {
    background-image: url(/images/Vector\ \(2\).png);
height: 8.33px;
width: 8.33px;
top: 28.33px;
left: 24.28px;
color: #F8FDFE;
padding: 3px 3pf 7px 5px;
}

.header_menu-text {
font-size: 16px;
line-height: 24px;
text-align: left;

}

.header_menu {
    display: flex;
    justify-content: space-between;
    padding: 4px 52px;
    background: #FFFFFF;
}

.header_menu-list {
    display: flex;
    gap: 40px;
}


 .header_menu-link {
    text-decoration: none;
font-size: 16px;
line-height: 24px;
text-align: left;
color: #000000;

 }

.header_slogan {
font-size: 30px;
font-weight: 600;
line-height: 40px;
color: #1F1F1F;    
padding: 32px 52px 23px 52px;


}

.header_slogan-text {
    margin-top: 110px;
    border-bottom: 1px solid #A8A8A8;
    padding-bottom: 24px;
}


.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 3fr 3fr 3fr; 
  column-gap: 24px;
  row-gap: 32px;
  padding: 0  52px 120px 52px;

}



.content_card-book {
    margin: 0 32px;
    width: 190px;
    margin-bottom: 16px;
}



 .content_card {
    position: relative;
    border: 1px solid #A8A8A8;
    background: #FFFFFF;
    padding: 33px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;




}

.content_card-link {
    position: relative;
    text-decoration: none;


}

.content_icon {
    position: relative;
    text-align: left;
    margin-left: 8px;

}

p {
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;


}

.content_icon-hit {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #F8FDFE;
    padding: 4px 8px;
    background-color: #4200FF;
    border-radius: 4px;
    position: absolute;
    z-index: 2;

}

.content_icon-new {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color:  #F8FDFE;
    background-color: #AF39E7;
    padding: 4px 8px;
    border-radius: 4px;

    position: absolute;
    z-index: 2;

}


.content_icon-off7 {
    position: absolute;
    z-index: 2;
    left: 15%;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #F8FDFE;
    background-color: #EA33C0;
    padding: 4px 8px;
    border-radius: 4px;


}

.content_icon-off10 {
    position: absolute;
    z-index: 2;
    left: 15%;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #F8FDFE;
    background-color: #EA33C0;
    padding: 4px 8px;
    border-radius: 4px;


}

.content_icon-off16 {
    position: absolute;
    z-index: 2;
    left: 15%;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #F8FDFE;
    background-color: #EA33C0;
    padding: 4px 8px;
    border-radius: 4px;


}

.content_icon-off11 {
    position: absolute;
    z-index: 2;
    left: 19.50%;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #F8FDFE;
    background-color: #EA33C0;
    padding: 4px 8px;
    border-radius: 4px;

}

.content_icon-off20 {
    position: absolute;
    z-index: 2;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #F8FDFE;
    background-color: #EA33C0;
    padding: 4px 8px;
    border-radius: 4px;

}

.content_icon-off30 {
    position: absolute;
    z-index: 2;
    left: 19.50%;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #F8FDFE;
    background-color: #EA33C0;
    padding: 4px 8px;
    border-radius: 4px;

}
   .content_card-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    color: #1F1F1F;
    margin-left: 14px;
   }

   .content_card-autor {
     font-size: 16px;
     font-weight: 400;
     line-height: 24px;
     margin-left: 14px;
     color: #8E8E8E;
     border-top: 1px solid #A8A8A8;
     margin-right: 12px;
    }

    .content_card-price {
      font-size: 24px;
      font-weight: 500;
      line-height: 32px;
      text-align: left;
      color:#E90000;
      margin-left: 16px;

    }

    .content_card-sale {
        text-decoration: line-through;
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
        color: #8E8E8E;
    }
 
    .content_card-hot {
        display: flex;
        gap: 24px;
    }


    .button_add {
       width: 242px;
        height:40px;
        padding: 8px 24px;
        border-radius: 4px;
        border: none;
        background-color: #4C394E;
        color: #F8FDFE;
        margin-top: 16px;
          
    }

    .button_add:hover {
        background-color: #744978;
        
    }

    .button_end {
        width: 242px;
        height: 40px;
        padding: 8px 24px;
        border-radius: 4px;
        border: none;
        background-color: #4D762D;        ;
        color: #F8FDFE;
        margin-top: 16px;

    }

    .button_end:hover {
        background-color: #6DB236;
        ;
    }

    .button_chat {
        background-image: url(/images/Property\ 1=Default.png);
        background-color: #10BBD5;
        width: 64px;
        height: 64px;
        left: 1400px;
        top: 640px;
        border: none;
        border-radius: 55%;
        position: fixed;

        
    }


    .footer {
        background-color: #4C394E;
        ;
    }

    .footer_info {
        display: flex;
        justify-content: space-between;
        color: #F8FDFE;
        padding: 32px 52px;


    }

